html, body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  box-shadow: #9e9e9e 0px 10px 10px 0px, #9e9e9e 0px 1px 5px 0px;
  text-align: center;
}

h3 {
  margin-bottom: 3rem;
}

.error {
  color: red;
}

.error-light {
  color: #ffebee
}

.success-light {
  color: #e8f5e9
}

button {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
